name: Teams webhook test

on:
  push:
    branches: 
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
    
jobs:
  teams-webhook-test:
    name: Teams webhook test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # これはcommitの詳細を　投げるやつなので不採用
    # - uses: toko-bifrost/ms-teams-deploy-card@master
    #   if: always()
    #   with:
    #     github-token: ${{ secrets.GITHUB_TOKEN }}
    #     webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
  
    - name: Microsoft Teams Notification
      uses: skitionek/notify-microsoft-teams@master
      if: success()
      with:
        webhook_url: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
        raw: >-
          {
            "type": "message",
            "attachments":
            [
              {
                "contentType": "application/vnd.microsoft.card.adaptive",
                "content":
                {
                  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                  "type": "AdaptiveCard",
                  "body":[{
                    "type": "TextBlock",
                    "text": "# **${{ github.workflow.name }}**が正常に終了しました",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "# CI実行中にエラーが発生しました",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "* [PR #${{ github.event.number }} (${{ github.event.pull_request.title }})](${{ github.event.pull_request.html_url }})",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "* [JOB #${{ github.run_id }})](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})",
                    "wrap": true,
                    "markdown": true
                  }]
                }
              }
            ]
          }

    - name: Microsoft Teams Notification
      uses: skitionek/notify-microsoft-teams@master
      if: failure()
      with:
        webhook_url: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
        raw: >-
          {
            "type": "message",
            "attachments":
            [
              {
                "contentType": "application/vnd.microsoft.card.adaptive",
                "content":
                {
                  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                  "type": "AdaptiveCard",
                  "body":[{
                    "type": "TextBlock",
                    "text": "# **${{ github.workflow.name }}**実行中にエラーが発生しました",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "* [PR #${{ github.event.number }} (${{ github.event.pull_request.title }})](${{ github.event.pull_request.html_url }})",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "* [JOB #${{ github.run_id }})](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})",
                    "wrap": true,
                    "markdown": true
                  },{
                    "type": "TextBlock",
                    "text": "<at>watanabekazuhi@jupiter.jcom.co.jp</at>"
                  }],
                  "msteams": {
                    "entities": [
                      {
                        "type": "mention",
                        "text": "<at>watanabekazuhi@jupiter.jcom.co.jp</at>",
                        "mentioned": {
                          "id": "watanabekazuhi@jupiter.jcom.co.jp",
                          "name": "watanabekazuhi@jupiter.jcom.co.jp"
                        }
                      }
                    ]
                  }
                }
              }
            ]
          }
